<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets Index Page</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.js9.js9petclinic.model.Vet"*/-->

  <h2>List of Vets</h2>
  <table class="table table-striped">
      <thead>
          <tr>
              <th style="width: 150px;">Id</th>
              <th style="width: 150px;">FirstName</th>
              <th style="width: 150px;">LastName</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="vet : ${vets}">
              <td th:text="${vet.id}">1</td>
              <td th:text="${vet.firstName}">Mary</td>
              <td th:text="${vet.lastName}">White</td>
          </tr>
      </tbody>
  </table>

</body>
</html>